.content-table{
    max-height: 61vh;
    overflow-y: auto;
    overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  
}
thead {
  background-color: #f9fafb;
  border-bottom: 2px solid #e5e7eb;
  text-align: left;
}
th {
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: left;
}
thead th {
    position: sticky;
    top: 0;
    background: #f9fafb;
    z-index: 1;
  }
  

th:nth-child(1) {
  width: 25%;
}
th:nth-child(3),
th:nth-child(2) {
  width: 14%;
}
th:nth-child(4),
th:nth-child(5) {
  width: 16%;
}
th:nth-child(6) {
  width: 18%;
}



td {
  padding: 0.9rem;
  font-size: 14px;
  color: #4b5563;
}
tbody tr {
  border: 1px solid #e4e4e4;
  height: 4.5rem;
}
tbody tr td {
  background-color: #ffffff;
}
.medium {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #88670f;
}
.medium-circle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #88670f;
  border-radius: 100%;
}
.High {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #7d2424;
}
.High-circle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #7d2424;
  border-radius: 100%;
}
.Low {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #006540;
}
.Low-circle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #006540;
  border-radius: 100%;
}
